nav {
    background-color: var(--GreyBlue);
    position: fixed;
    width: 100%;
    height: 85px;
    z-index: 1;
}

nav figure img {
    position: absolute;
}

nav figure {
    opacity: 1;
}

nav .logohover {
    transition: opacity .5s;
    opacity: 0;
}
nav .logohover:hover {
    opacity: 1;
}

nav a {
    color: var(--Black);
    transition: ease-in-out 1s;
}

nav a:hover {
    color: var(--White);
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header figure {
    margin: 0;
    width: 85px;
    height: 85px;
}

header img {
    width: 85px;
    height: 85px;
    display: flex;
}

header li {  
    font-family: 'Oooh Baby', cursive;
    font-size: 2.5rem;
    display: flex;
}

header ul {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    margin-right: 50px;
}

header section {
    display: flex;
    gap: 20%;
    padding-bottom: 1em;
}

header section img {
    width: 425px;
    height: 400px;
}

header div {
    width: 80%;
}

header section figure {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 5em;
    padding: 1em 0;
    padding-top: 90px;
}

section h1 {
    font-family: 'Oooh Baby', cursive;
    font-size: 4.5rem;
}

header section p {
    margin: 1rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
}

#welcome {
    padding-top: 90px;
    width: 100%;
}
    
#btn-burger {
    display: none;
}

@media screen and (max-width:391px) {

/* nav & btn burger */

.main-nav-burger {
    display: none;
    }

#btn-burger {
    display: block;
    position: fixed;
    font-size: 2.8em;
    color: var(--Black);
    background-color: var(--GreyBlue);
    z-index: 10000;
    padding: 0.5rem;
    width: 42px;
    top: 0;
    left: 0;
}

.main-nav-burger.visible {
    display: block;
    position: fixed;
    width: 390px;
    height: 460px;
    z-index: 9998;
    background-color: var(--GreyBlue);
}

nav img {
    padding-left: 9em;
    position: fixed;
}

nav ul {
    z-index: 9998;
    position: fixed;
    display: flex;
    flex-direction: column;
}
nav li a {
    font-size: 1.5em;
    padding-left: 1.6em;
    text-align: center;
}


/* welcome */

#welcome {
    padding-top: 0.5em;
    width: 100%;
}

h1 {
    padding: 0;
}

header section {
    display: flex;
    flex-direction: column;
}

header section div{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding-bottom: 1rem;
    flex-direction: column;
}

header section p {
    font-size: 1.2em;
    width: 100%;
}
header section figure {
    padding: 0;
    margin: 0;
}

header section img {
    width: 349px;
    height: 309px;
} 

}
